.sale{
    background: #EAEAEA;
    display: flex;
    gap: 400px;
}

.sale .container{
    margin: 0;
}

h1{
    font-size: 80px;
}

.tshirt{
    font-size: 35px;
    width: 430px;
    height: 150px;
}

.tshirt p{
    font-size: 10px;
}

.sale .btn{
    width: 450px;
    padding: 5px 5px;
}

h2{
    font-size: 50px;
    font-weight: 500;
}

.box img{
    width: 300px;
    padding-left: 10px ;
}

.box{
    background: #EAEAEA;
    border-radius: 30px;
    width: 320px;
    height: 450px;
    transition: background 0.3s;
    display: inline-block;
 }

 .box:hover{
    background: #dadada;
 }

 h3{
    font-size: 30px;
    font-weight: 400;
    padding-left: 20px;
 }

 .box p{
    font-size: 14px;
    padding-left: 20px;
 }

 .box a{
    opacity: 1;
 }