h2{
    background: #dbdbdb;
    padding: 20px;
}

.oplata p{
    font-size: 17px;
}

.oplata img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.sposobi{
    display: flex;
    padding: 40px;
}
