h2{
    background: #dbdbdb;
    padding: 20px;
}

.oplata p{
    font-size: 17px;
}

.oplata img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 2px 4px 8px rgba(84, 84, 84, 0.578);
}

.sposobi{
    display: flex;
    padding: 40px;
}
