#form, #form2{
    width: 200px;
}

h1{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 140px;
}

p{
 display: inline-block;
}

.sale{
    gap: 30px;
}

.sale h1{
    margin-bottom: 200px;
}

.ol{
    color: #e74c3c;
}

.detailsban{
    background: #dbdbdb;
    display: flex;
    height: 480px;
    border-radius: 35px;
    width: 1425px;
    box-shadow: 2px 4px 8px rgba(84, 84, 84, 0.296);
    margin-bottom: 50px;
}

.details{
    gap: 400px;
}

.detailsban img{
    margin: 40px 0;
    height: 400px;
}